<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Simulator</title>
</head>
<body>
  <center>
    <div>
      <h1>Poll Simulator</h1> 
      <h2>Poll Result</h2>
        Won: {{voteres.[0].name}} - {{voteres.[0].votes}} votes <br>
        Runner: {{voteres.[1].name}} - {{voteres.[1].votes}} votes
      <h3><a href="/">HomePage</a></h3>
    </div>
     </center>
</body>
</html>